In [1]:
#Data preprocessing

#Importando as libs necess√°rias
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Importando o dataset
dataset = pd.read_csv("Data.csv")
X = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1].values

In [3]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [4]:
X

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [5]:
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [7]:
#Tratando missing data
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
imputer = imputer.fit(X.iloc[:,1:3])
X.iloc[:,1:3] = imputer.transform(X.iloc[:,1:3])

"""
#Tratando missing data - Pandas
X = dataset.iloc[:,:-1] # Deve ser um Dataframe
y = dataset.iloc[:,-1]
X['Age'].fillna(X['Age'].mean(), inplace=True)
X['Salary'].fillna(X['Salary'].mean(), inplace=True)
"""

"\n#Tratando missing data - Pandas\nX = dataset.iloc[:,:-1] # Deve ser um Dataframe\ny = dataset.iloc[:,-1]\nX['Age'].fillna(X['Age'].mean(), inplace=True)\nX['Salary'].fillna(X['Salary'].mean(), inplace=True)\n"

In [8]:
X

   Country        Age        Salary
0   France  44.000000  72000.000000
1    Spain  27.000000  48000.000000
2  Germany  30.000000  54000.000000
3    Spain  38.000000  61000.000000
4  Germany  40.000000  63777.777778
5   France  35.000000  58000.000000
6    Spain  38.777778  52000.000000
7   France  48.000000  79000.000000
8  Germany  50.000000  83000.000000
9   France  37.000000  67000.000000

In [10]:
#Tratando categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X.iloc[:,0] = labelencoder_X.fit_transform(X.iloc[:,0])

onehotencoder = OneHotEncoder(categorical_features = [0])
X = onehotencoder.fit_transform(X).toarray()
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

"""
#Tratando categorical data - Pandas
X = dataset.iloc[:,:-1] # Deve ser um Dataframe
y = dataset.iloc[:,-1]
dummies_X = pd.get_dummies(X['Country'])
X.drop(['Country'], axis=1, inplace=True)
X = X.join(dummies_X)
y = y.map({'Yes': 1, 'No': 0})
"""

"\n#Tratando categorical data - Pandas\nX = dataset.iloc[:,:-1] # Deve ser um Dataframe\ny = dataset.iloc[:,-1]\ndummies_X = pd.get_dummies(X['Country'])\nX.drop(['Country'], axis=1, inplace=True)\nX = X.join(dummies_X)\ny = y.map({'Yes': 1, 'No': 0})\n"

In [13]:
pd.DataFrame(X)

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [14]:
#Dividindo em connjunto de treino e conjunto de teste
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

/usr/local/lib/python3.5/dist-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [16]:
pd.DataFrame(X_train)

     0    1    2          3             4
0  0.0  1.0  0.0  40.000000  63777.777778
1  1.0  0.0  0.0  37.000000  67000.000000
2  0.0  0.0  1.0  27.000000  48000.000000
3  0.0  0.0  1.0  38.777778  52000.000000
4  1.0  0.0  0.0  48.000000  79000.000000
5  0.0  0.0  1.0  38.000000  61000.000000
6  1.0  0.0  0.0  44.000000  72000.000000
7  1.0  0.0  0.0  35.000000  58000.000000

In [17]:
pd.DataFrame(X_test)

     0    1    2     3        4
0  0.0  1.0  0.0  30.0  54000.0
1  0.0  1.0  0.0  50.0  83000.0

In [18]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [19]:
pd.DataFrame(X_train)

     0         1         2         3         4
0 -1.0  2.645751 -0.774597  0.263068  0.123815
1  1.0 -0.377964 -0.774597 -0.253501  0.461756
2 -1.0 -0.377964  1.290994 -1.975398 -1.530933
3 -1.0 -0.377964  1.290994  0.052614 -1.111420
4  1.0 -0.377964 -0.774597  1.640585  1.720297
5 -1.0 -0.377964  1.290994 -0.081312 -0.167514
6  1.0 -0.377964 -0.774597  0.951826  0.986148
7  1.0 -0.377964 -0.774597 -0.597881 -0.482149